header{
    background-image: url(./photo/fond\ header.jpg);
    background-size: cover;
    
}

.col1::after{
    content:"_______";
    clear: both;
}
.col1{
    text-align: center;
}
#photo1{
    z-index: 2;
    width: 40%;
}
#photo2{
    z-index: 3;
    width: 40%;
}
#photo3{
    z-index: 1;
    width: 40%;
}
.row1{
    background-image: url(./photo/photos/photo\ clavier\ 2.png);
    background-size: cover;
}
.row2{
    background-image: url(./photo/photos/photo\ footer.png);
    background-size: cover;

   
}

